*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    position: relative;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

@font-face{
    font-family:'Bakery';
    src: url('../resources/fonts/bakery.ttf');
}

/* Styles section header */
.header{
    background-color: rgba(0, 0, 0, 1);
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;
    /* position: fixed; */
    z-index: 80;
    width: 100%;
    height: 100px;
}
.header__logo-container img{
    width: 250px;
    height: 100px;
    object-fit: contain;
}
.header__menu,
.header__menu ul{
    display: flex;
    align-items: center;
    list-style: none;
    width: 450px;
    justify-content: space-evenly;
}
.header__menu ul li a{
    color: white;
    font-weight: 600;
}
.header__menu ul li:last-child a{
    color: #148ec0;
}

.main{
    position: relative;
}

/* Styles section Hero */
.hero{
    width: 100%;
    height: calc(100vh - 100px);
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero__img-container{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: url('../resources/imgs/hero_2.jpg');
    background-size: cover;
}
.hero__img-container::before
{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.75);
}

.hero__desc-container{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__desc-container h1{
    font-family: 'Sacramento', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
    font-size: 72px;
    text-align: center;
}
.hero__desc-container h2{
    font-size: 24px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 40px;
    padding: 0px 20px;
}
.hero__desc-container a{
    color: white;
    width: 180px;
    background-color: #148ec0;
    text-align: center;
    padding: 10px 0px;
    font-size: 18px;
}

/* Styles section courses & projects*/
.courses,
.projects,
.contact{
    width: 100%;
    /* height: 100vh; */
    background-color: #fcfcfc;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px;
}
.courses__title,
.projects__title,
.contact__title{
    text-align: center;
    margin-bottom: 50px;
}
.courses__title h3,
.projects__title h3,
.contact__title h3{
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 54px;
}
.courses__description{
    font-size: 16px;
}
.courses-expo,
.projects-expo{
    width: 100%;
    /* height: 500px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.courses-expo__card,
.projects-expo__card{
    width: calc(90% / 3);
    height: 550px;
    margin-bottom: 50px;
}
.courses-expo__card--img-container,
.projects-expo__card--img-container{
    width: 100%;
    height: 50%;
}
.courses-expo__card--img-container img,
.projects-expo__card--img-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* object-position: 0% 60%; */
}
.courses-expo__card--description,
.projects-expo__card--description{
    background-color: #ececec;
    width: 100%;
    height: 50%;
    text-align: center;
    padding: 20px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.courses-expo__card--description h3,
.projects-expo__card--description h3{
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    height: 85px;
}
.courses-expo__card--description p,
.projects-expo__card--description p{
    font-size: 14px;
    margin-bottom: 20px;
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
    padding: 0px 1px;
}

.courses-expo__card--description p::-webkit-scrollbar,
.projects-expo__card--description p::-webkit-scrollbar{
    width: 5px;
}
.courses-expo__card--description p::-webkit-scrollbar-thumb,
.projects-expo__card--description p::-webkit-scrollbar-thumb{
    background: #240046;
    border-radius: 50px;
}

.courses-expo__card--description a,
.projects-expo__card--description a{
    color: white;
    width: 180px;
    background-color: #148ec0;
    text-align: center;
    padding: 10px 0px;
    font-size: 14px;
}


/* Styles only projects */

.projects{
    background-color: #0d1e3a;
    background-image: url('../resources/imgs/texture-projetcts.png');
}

.projects__title h3 {
    color: white;
}

.projects-expo__card--img-container img{
    object-fit: revert;
}


/* Styles Contact me */
.contact__title h3{
    color: white;
}

.contact{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Ubuntu', sans-serif;
    background-image: url('../resources/imgs/bg_contact.jpg');
    background-size: cover;
    position: relative;

}

.contact-background::before{
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.75);
    z-index: 15;
}

.contact__title{
    z-index: 19;
}
.contact .contact-contact-container{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    z-index: 20;
    position: relative;
}
.contact .contact-contact-container .contact-description{
    width: 50%;
    text-align: justify;
    font-size: 16px;
    padding: 0 30px;
    display: flex;
    align-items: center;
    line-height: 30px;
}
.contact .contact-contact-container .contact-form-container{
    width: 80%;
    height: auto;
    padding: 0 30px;
}
.contact .contact-contact-container .contact-form-container .contact-form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact .contact-contact-container .contact-form-container .contact-form .box-container{
    width: 100%;
    margin-bottom: 20px;
}
.contact .contact-contact-container .contact-form-container .contact-form #button-container{
    display: flex;
    justify-content: center;
}
.contact .contact-contact-container .contact-form-container .contact-form .box-container.short{
    width: 48%;
}
.contact .contact-contact-container .contact-form-container .contact-form label h2{
    color: #129fea;
    font-size: 18px;
    margin-bottom: 5px;
}
.contact .contact-contact-container .contact-form-container .contact-form label input,
.contact .contact-contact-container .contact-form-container .contact-form label textarea{
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: none;
    border-bottom: 3px solid #129fea;
    resize: none;
    background-color: transparent;
    color: white;
}

.contact .contact-contact-container .contact-form-container .contact-form label input:focus,
.contact .contact-contact-container .contact-form-container .contact-form label textarea:focus{
    border-color: #129fea;
    outline: none;
}
.contact .contact-contact-container .contact-form-container .contact-form .box-container button{
    background-color: #148ec0;
    border: 1px solid #148ec0;
    color: #fff;
    width: 150px;
    height: 40px;
    font-size: 18px;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.contact .contact-contact-container .contact-form-container .contact-form .box-container button:focus,
.contact .contact-contact-container .contact-form-container .contact-form label textarea:focus{
    outline: none;
}

/* Styles footer */
.footer{
    background-color: #1b2127;

    height: 50px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer .container div p a{
    color: #148ec0
}




@media screen and (max-width: 768px) {

    .courses__title h3,
    .projects__title h3,
    .contact__title h3{
        font-size: 48px;
    }

    .courses-expo__card, .projects-expo__card{
        width: calc(90% / 2);
    }

    .courses-expo__card--description h3,
    .projects-expo__card--description h3{
        font-size: 26px;
    }

    .contact .contact-contact-container .contact-form-container{
        width: 100%;
    }

}


@media screen and (max-width: 426px) {

    .hero__desc-container h1{
        font-size: 54px;
        padding: 0px 20px;
    }

    .courses__title h3,
    .projects__title h3,
    .contact__title h3{
        font-size: 42px;
    }

    .header__menu, .header__menu ul{
        display: none;
    }

    .courses,
    .projects{
        padding: 40px 30px;
    }

    .courses-expo__card, .projects-expo__card{
        width: 90%;
    }

    .courses-expo__card--description h3, 
    .projects-expo__card--description h3{
        font-size: 24px;
    }

    .contact .contact-contact-container{
        width: 100%;
    }
}